body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
font-size: 32px;
 font-family: 'Bungee', cursive; sans-serif;
color: #2e69a3;
margin-top: 21px;
margin-bottom: 10px;
}

h3 {
	font-size: 24px;
	font-family: 'Bungee Shade', cursive; sans-serif;
	margin-top: 10px;
  	margin-bottom: 20px;
}

.slider_container {
	margin: 0 auto;
}
