body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-image: 
    url("http://www.travelandleisure.com/sites/default/files/styles/tnl_redesign_article_landing_page/public/secretstbarcelona1015-placa-de-sant-felip-neri.jpg?itok=-N568IcZ");
background-size: cover;
}

h1 {
font-size: 32px;
  font-family: Palatino,'Palatino Linotype', serif;
color: #2e69a3;
}

h3 {
	font-size: 24px;
}
